body {
    text-align: center;
    font-family: monospace;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #bebbdb 100%);
    color: rgb(75, 75, 75);
    font-size: large; 
    
}


header {
    padding:20px;
    font-size: x-large;
    margin-bottom: 30px; 
    background:rgba(85, 85, 85, 0.082);
}










